.FriendsContainer {
    background-color: white;
    max-width: 400px;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
}
.FriendsContainer > h1 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.FriendsContainer > p {
    font-size: 1.6rem;
    border-bottom: 3px solid rgb(28, 101, 160);
    padding: 5px;
    max-width: 160px;
    margin: 5px auto;
    border-radius: 3px;
    position: relative;
}
.delete__button {
    background-color: darkred;
    color: white;
    font-size: 1.4rem;
    position: absolute;
    top: 4px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    right: 4px;
    padding: 2px 1px 1px 2px;
}
.delete__button:hover {
    background-color: rgb(233, 214, 214);
    color: darkred;
    cursor: pointer;
    transition-duration: .6s;
}